.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/DiceEnterprise_cache
temp
vignettes/Efficiency_cache
tests
vignettes/efficiency_old_res
vignettes/*.rds
augmented_de_a_1_pest_0.01.rds
vignettes/efficiency_uni_data
vignettes/Eff*
vignettes/PaPerExamples_cache
