.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/DiceEnterprise_cache
temp
vignettes/Efficiency_cache
tests
vignettes/efficiency_old_res
vignettes/*.rds
augmented_de_a_1_pest_0.01.rds
vignettes/PaPerExamples_cache
vignettes/efficiency_old_res_2
vignettes/Efficiency.Rmd
vignettes/Efficiency2.Rmd
