PaperExamples_cache
efficiency\_a\_1.rds
efficiency_a_10.rds
efficiency_a_11.rds
efficiency_a_2.rds
efficiency_a_3.rds
efficiency_a_4.rds
efficiency_a_5.rds
efficiency_a_6.rds
efficiency_a_7.rds
efficiency_a_8.rds
efficiency_a_9.rds
